#registerform{
    padding-top: 60px;
}

#reg, #ihave, #login, #donthaveacc{
    justify-content: center;
}

#name, #email, #pwd, #confpwd{
    padding: 5px;
    border-style: solid;
    border-color: #D9D9D9;
    border-radius: 8px;
}

#regbutton{
    border-radius: 8px;
}

#haveacc{
    background-color:none ;
}

.agreecont{
    padding-top: 20px;
    display: flex;
    justify-content: center;

}

.cbagree{
    /* border: solid white; */
    display: block;
}

.smooth-checkbox {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-family: sans-serif;
  user-select: none;
}

.smooth-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 6px; 
  margin-right: 12px;
  transition: all 0.3s ease; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.smooth-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

.smooth-checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  display: none;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  margin-bottom: 2px;
}

.smooth-checkbox input:checked ~ .checkmark:after {
  display: block;
}

#forgotpass{
  padding-top: 0px;
  padding-bottom: 20px;
  display: flex;
  justify-content:end;
  align-items: center;
  /* border-style: solid; */
  border-color: red;

}

#forgotpassbtn{
  width: 150px;
}