#dashboardname{
    padding-top: 60px;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#newOrder{
    padding: 20px;
    width: 50vw;
}

@media (max-width: 900px){
    #newOrder{
    width: 90vw;
}
}

.agreecont{
    padding-top: 20px;
    display: flex;
    /* justify-content: center; */
    border-style: solid;
    align-items: center;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border-color:rgb(127, 124, 124);
}

.smooth-checkbox {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-family: sans-serif;
  user-select: none;
}

.smooth-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  height: 20px;
  width: 20px;
  background-color: #fafafa;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px; 
  margin-right: 12px;
  transition: all 0.3s ease; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.smooth-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

.smooth-checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  display: none;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  margin-bottom: 2px;
}

.smooth-checkbox input:checked ~ .checkmark:after {
  display: block;
}

#optionslabel{
  padding-top: 10px;
}

#clotheclass{
  padding-top: 20px;
}

/*  */

.smooth-input {
    width: 100%;
    padding: 10px 15px;
    border: 2px solid rgb(127, 124, 124);
    border-radius: 8px; 
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    font-size: 1rem;
}

.smooth-input:focus {
    border-color: #2196F3;
    box-shadow: 0 0 8px rgba(33, 150, 243, 0.2);
}

.smooth-input::-webkit-inner-spin-button,
.smooth-input::-webkit-outer-spin-button {
    opacity: 1; 
    height: 30px; 
    cursor: pointer;
}

.smooth-input {
    appearance: textfield;
    -moz-appearance: number-input;
}

/* textarea */
#notearea{
  border-style: solid;
  border-color: rgb(127, 124, 124);
  border-radius: 8px;
  border-width: 3px;
  height: 20vh;
}

.totalpayment{
  padding-top: 40px;
  font-size: 2rem;
}

#price{
  font-size: 5rem;
}

#read{
  display: flex;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  padding: 20px;
  border-radius: 8px;
  background-color: rgb(252, 227, 127);
}